.verticalBox {
  width: 100px;
  height: 100px;
  float: left;
}
.horizontalBox {
  border: 2px solid;
  width: 100px;
  height: 100px;
  float: left;
}
.activeA {
  background-color: teal;
}
.activeB {
  background-color: orange;
}


p {
  color: white;
  position: relative;
  font-size: 30px;
  padding: 0;
  margin-left: 0%;
  top: 30%;
  left: 0%;
  text-align: center;
}

#grid {
  margin: auto;
  position: relative;
  left: 35%;
}

h1{
position: relative;
margin: auto;
left: 40%;
}

.end {
  pointer-events: none;
}
.notice {
  display: table-cell;
  position: absolute;
  top: 50%;
  left: 47%;
  width: 300px;
  height: 200px;
  background-color: navy;
  vertical-align: middle;
}

button {
  position: relative;
  margin-left: 30%;
}